@import 'content/colores';
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import 'content/footer';
@import 'content/animaciones';
@import 'content/fondos';
@import'content/horarios';

h1{
    font-family: 'josefin sans';
}
.encabezado{
    background-color:$rojo;
    color:$amarillo;
}
.saludo p {
    margin: 15px;
    text-align: center;
    color:$rojo;
}
.imgenvio{
    border-radius: 50%;
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}
.video{
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    width: 700px;;
    height: 300px;
}

@media only screen and (max-width: 768px) {
    .imgenvio{
        width: 85%;
    }
    .img{
        width: 75%;
    }

    .video {
      width: 85%;
    }
  }

//pag de contacto
.containerContacto{
    margin: 50px auto;
    width: 70%;
    padding: 30px;
    background:rgba(157, 19, 19, 0.5);
    border-radius: 10px;
    h1{
        text-align: center;
        color: #fff;
      }
}
.form-group{
    label{
        color: rgb(255, 255, 255); 
    }
    input{
        width: 100%;
        padding: 10px 0 ;
        color: aliceblue;
        background: transparent ;
        border: none;
        border-bottom: 1px solid #fff;
        margin-bottom: 20px;  
    }
    textarea{
        width: 100%;
        padding: 10px 0 ;
        color: aliceblue;
        background: transparent ;
        border: none;
        border-bottom: 1px solid #fff;
        margin-bottom: 20px; 
    }
}
.btn{
    background-color: rgb(238, 203, 158);
    border:none;
    letter-spacing: 5px; /*para que las letras esten mas separadas*/
    text-transform: uppercase; /*todo se convierte en mayuscula */
    cursor: pointer; /*el cursor cambia a una manito*/
    padding: 15px;
    margin-top: 30px;
    width: 100%;
}
//mixin
@mixin titulos{
    color: #fff;
    text-align: center;
}

//locales
.titl{
 @include titulos
}
.mapa{
    border-radius: 20px;
    width: 70%;
}

//productos
.producto{
    border: 2px rgba(54, 53, 53, 0.675) solid;

}
.search-container {
    input[type="text"] {
      padding: 5px 60px;
      font-size: 14px;
      background-color: transparent;
    }
}
.search-button {
    padding: 5px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    color: rgba(210, 192, 192, 0.536);
    background-color: transparent;
    &:hover {
      opacity: 0.8;
    }
  }
