.animacion1 {
    animation: moveText 4s infinite;
  }
  
  @keyframes moveText {
    0%, 100% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(20px);
    }
    75% {
      transform: translateX(-20px);
    }
  }
  