.footer {
    padding: 20px 0;
  }
  
  .footer p {
    margin-bottom: 5px;
  }

  .mail:link, .mail:visited, .mail:hover, .mail:active{
    text-decoration: none;
    color: #fff;
  }
  
  .social-icons {
    margin-top: 20px;
  }
  
  .social-icon {
    display: inline-block;
    margin: 0 5px;
    font-size: 24px;
    color: #fff;
    text-decoration: none;
  }
  
  .social-icon:hover {
    color: #ffffff;
  }
  